<div class="p-1">
  <h1>Reactive-user works!</h1>

  <div>
    <div class="row">
      <div class="col-7">
        <div class="card">
          <div class="card-header ng-success">
            <h2>User List</h2>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Email ID</th>
                  <th>Password</th>
                  <th>FullName</th>
                  <th>Mobile No</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (user of userList; track $index) {
                <tr>
                  <td>{{ user.emailId }}</td>
                  <td>{{ user.password }}</td>
                  <td>{{ user.fullName }}</td>
                  <td>{{ user.mobileNo }}</td>
                  <td class="d-flex gap-1 justify-content-center">
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="card">
          <div class="card-header ng-success">
            <h2>New User</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm">
              <div class="row">
                <div class="col-6">
                  <label for="emailId">Email ID</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="emailId"
                  />
                  @if(userForm.controls['emailId'].touched){
                  <div class="text-danger">
                    @if(userForm.controls['emailId'].errors?.['required']){
                    <span>Field is required.</span>
                    }@if(userForm.controls['emailId'].errors?.['minlength']){
                    <span>Minimum of 5 chars.</span>
                    } @if(userForm.controls['emailId'].errors?.['email']){
                    <span>Invalid email.</span>
                    }
                  </div>
                  }
                </div>

                <div class="col-6">
                  <label for="password">Password</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="password"
                  />

                  @if(userForm.controls['password'].touched){
                  <div class="text-danger d-flex gap-1">
                    @if(userForm.controls['password'].errors?.['required']){
                    <span>Field is required.</span>
                    }
                    @if(userForm.controls['password'].errors?.['minlength']){<span
                      >Minimum of 4 chars.</span
                    >}
                  </div>
                  }
                </div>

                <div class="col-6">
                  <label for="fullName">Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fullName"
                  />

                  @if(userForm.controls['fullName'].touched){
                  <div class="text-danger">
                    @if(userForm.controls['fullName'].errors?.['required']){
                    <span>Field is required.</span>
                    }
                  </div>
                  }
                </div>

                <div class="col-6">
                  <label for="mobileNo">Mobile No</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="mobileNo"
                  />

                  @if(userForm.controls['mobileNo'].touched){
                  <div class="text-danger">
                    @if(userForm.controls['mobileNo'].errors?.['required']){
                    <span>Field is required.</span>
                    }
                  </div>
                  }
                </div>
              </div>
            </form>

            <div class="row mt-3">
              <div class="col-6 text-center">
                <button class="btn btn-secondary" (click)="onReset()">
                  Reset
                </button>
              </div>
              <div class="col-6 text-center">
                <button
                  class="btn btn-success"
                  [disabled]="userForm.invalid"
                  (click)="onSaveUser()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
